html,
body {
  width: 100%;
}
h1 {
  margin-top: 3rem;
}
.container {
  width: 50%;
}
.real-temp {
  font-size: 1rem;
  text-align: center;
}
/* .out-pic {
  width: 100%;
}
.in-pic {
  width: 4rem;
  margin: 0 auto;
}
.temp-img {
  width: 100px;
  height: 100px;
} */
input {
  border: none;
  font-size: 2rem;
}
input:focus {
  outline: none;
}
.btn,
.btn:focus,
.btn:visited,
.btn:link,
.btn:hover {
  outline: none;
  border: none;
  border-radius: 0;
  font-size: 1rem;
}
.img-icon {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: 0 auto;
}
.inner-con {
  display: block;
  margin: 0 auto;
}
.inner-inner {
  position: relative;
  transform: translateY(25%);
}
