/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
html,
body {
  width: 100%;
}
body{
  background-color: #ccc;
}

.app-wrapper {
  width: 50%;
  margin: 1rem auto;
  background-color: #fafafa;
  padding: .5rem;
}
.form{
  width: 80%;
  margin: 1rem auto;
}
.btn-primary{
  border: none;
  outline: none;
  padding: .3rem;
  width: 7rem;
}
.btn-primary:focus{
  outline:none !important;
  border:transparent !important;
}
.weather-container{
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 768px){
  body{
    background-color: #fafafa;
  }
  .app-wrapper {
    width: 100%;
  }
  .form, .weather-container{
    width: 90%;
  }
}